/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#pane {
	-fx-background-color: #303030;	
}
#titre, #victoire {
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 60px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
}
#j1, #j2, #jeu {
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 50px;
	-fx-font-weight: bold;
}
#pseudoJ1, #pseudoJ2 {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}
#vs {
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 90px;
	-fx-font-weight: bold;
}
#mode, #dernieresParties {
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 30px;
	-fx-font-weight: bold;
}
#jcj, #jce {
	-fx-font-size: 13px;
	-fx-font-weight: bold;
}
#jouer, #menuPrincipal {
	-fx-font-size: 30px;
	-fx-font-weight: bold;
}
#gagnant {
	-fx-font-size: 60px;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(three-pass-box, #FFFFFF, 3, 0.8, 0, 0);
}
#histoJ1, #histoJ2, #histoScore1, #histoScore2, #tiret {
	-fx-font-size: 30px;
	-fx-effect: dropshadow(three-pass-box, #FFFFFF, 3, 0.8, 0, 0);
}
#histoScore1, #histoScore2, #tiret {
	-fx-text-fill: #FFFFFF;
	-fx-effect: dropshadow(three-pass-box, #16BEEB, 10, 0.5, 0, 0);
}
#infoPartie {
	-fx-padding: 10;
	-fx-border-style: solid inside;
	-fx-border-width: 1;
	-fx-border-insets: 8 5 0 10;
	-fx-border-radius: 10;
	-fx-border-color: white;
}
#joueurAct {
	-fx-font-family : "Arial";
	-fx-font-weight: bold;
	-fx-font-size : 35;
	-fx-effect: dropshadow(three-pass-box, #FFFFFF, 3, 0.8, 0, 0);
}
#etapeJeu {
	-fx-font-family : "Arial";
	-fx-font-weight: bold;
	-fx-font-size : 25;
}
#statut {
	-fx-font-family : "Arial";
	-fx-font-weight: bold;
	-fx-font-size : 35;
	
}